 .black-skull-svg .st0{fill:none;stroke:#0000FF;stroke-width:0.51;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st1{fill:none;stroke:#0000FF;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st2{fill:none;stroke:#0000FF;stroke-width:0.67;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st3{fill:#0006FF;}
 .black-skull-svg 	.st4{stroke:#0000FF;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st5{stroke:#0000FF;stroke-width:0.68;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st6{fill:none;stroke:#000000;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st7{fill:none;stroke:#0000FF;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st8{stroke:#0000FF;stroke-width:1.88;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st9{stroke:#0000FF;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st10{fill:none;stroke:#000000;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st11{fill:none;stroke:#0000FF;stroke-width:2.52;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st12{fill:none;stroke:#000000;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st13{fill:none;stroke:#000000;stroke-width:0.71;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st14{fill:none;stroke:#000000;stroke-width:0.36;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st15{fill:none;stroke:#000000;stroke-width:0.66;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st16{fill:none;stroke:#0000FF;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st17{fill:none;stroke:#0000FF;stroke-width:0.44;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st18{fill:none;stroke:#0000FF;stroke-width:0.43;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st19{fill:none;stroke:#0000FF;stroke-width:1.88;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st20{fill:none;stroke:#0000FF;stroke-width:0.48;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st21{stroke:#0000FF;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st22{stroke:#0000FF;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st23{fill:none;stroke:#0000FF;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st24{fill:none;stroke:#0000FF;stroke-width:1.68;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st25{fill:none;stroke:#0000FF;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st26{fill:none;stroke:#0000FF;stroke-width:0.66;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st27{fill:none;stroke:#0000FF;stroke-width:0.58;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st28{fill:none;stroke:#0000FF;stroke-width:0.65;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st29{fill:none;stroke:#0000FF;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st30{fill:none;stroke:#0000FF;stroke-width:0.55;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st31{stroke:#000000;stroke-width:2.52;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st32{enable-background:new    ;}
 .black-skull-svg 	.st33{fill:#929497;}
 .black-skull-svg .st34{fill:none;stroke:#929497;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg 	.st35{fill:#606060;}
 .black-skull-svg 	.st36{fill:#0000FF;}
 .black-skull-svg .st37{fill:none;stroke:#0000FF;stroke-width:0.79;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st38{fill:none;stroke:#0000FF;stroke-width:1.19;stroke-linecap:round;stroke-linejoin:round;}
 .black-skull-svg .st39{fill:none;stroke:#0000FF;stroke-width:0.59;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st40{fill:none;stroke:#0000FF;stroke-width:1.58;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st41{fill:none;stroke:#0000FF;stroke-width:0.4;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st42{fill:none;stroke:#000000;stroke-width:0.4;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st43{stroke:#0000FF;stroke-width:1.19;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st44{fill:none;stroke:#000000;stroke-width:1.58;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st45{fill:none;}
	.black-skull-svg .st46{fill:none;stroke:#000000;stroke-width:0.79;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg .st47{fill:none;stroke:#000000;stroke-width:1.19;stroke-linecap:round;stroke-linejoin:round;}
	.black-skull-svg 	.st48{font-family:'Bodoni';}
	.black-skull-svg 	.st49{font-size:14.12px;}
	.black-skull-svg 	.st50{letter-spacing:2;}