html, body {
   margin: 0;
   height: 100%;
   padding: 0;
}

svg {
   margin: 0 auto;
   max-height: 100%;
}

#svg-container {
   margin: 0 auto;
   position: relative;
}

.black-skull-svg, .transition-svg, .blue-text-svg, .transition2-svg{
   display: none;
}

.blue-text-svg {
   pointer-events : none;
   width: 100%;
   height: 70%;
   overflow: auto;
   margin: auto;
   position: absolute;
   top: 0; bottom: 8%; right: 7%;
}

.blue-text-svg {
   width: 100%;
}

img {
   width: 50%;
   margin: 0 auto;
}