.transition-svg .st0{fill:#FFFFFF;}
.transition-svg	.st1{fill:none;stroke:#A9C584;stroke-width:0.51;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st2{fill:none;stroke:#A9C584;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st3{fill:none;stroke:#000000;stroke-width:0.37;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st4{fill:#FFFFFF;stroke:#A9C584;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st5{fill:#FFFFFF;stroke:#A9C584;stroke-width:0.68;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st6{fill:none;stroke:#000000;stroke-width:0.63;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st7{fill:#A9C584;}
.transition-svg	.st8{fill:none;stroke:#A9C584;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st9{stroke:#A9C584;stroke-width:1.88;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st10{stroke:#A9C584;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st11{fill:none;stroke:#000000;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st12{fill:none;stroke:#A9C584;stroke-width:2.52;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st13{fill:#FFFFFF;stroke:#A9C584;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st14{fill:none;stroke:#000000;stroke-width:0.76;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st15{fill:none;stroke:#000000;stroke-width:0.71;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st16{fill:none;stroke:#000000;stroke-width:0.36;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st17{fill:#FFFFFF;stroke:#A9C584;stroke-width:1.88;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st18{fill:none;stroke:#000000;stroke-width:0.66;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st19{fill:none;stroke:#A9C584;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st20{fill:none;stroke:#A9C584;stroke-width:0.44;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st21{fill:none;stroke:#A9C584;stroke-width:0.43;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st22{fill:none;stroke:#A9C584;stroke-width:1.88;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st23{fill:none;stroke:#A9C584;stroke-width:0.48;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st24{fill:#FFFFFF;stroke:#A9C584;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st25{fill:#FFFFFF;stroke:#A9C584;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st26{fill:none;stroke:#A9C584;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st27{fill:none;stroke:#A9C584;stroke-width:1.68;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st28{fill:none;stroke:#A9C584;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st29{fill:none;stroke:#A9C584;stroke-width:0.66;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st30{stroke:#A9C584;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st31{fill:none;stroke:#A9C584;stroke-width:0.58;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st32{fill:none;stroke:#A9C584;stroke-width:0.65;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st33{fill:none;stroke:#A9C584;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st34{fill:none;stroke:#A9C584;stroke-width:0.55;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st35{stroke:#A9C584;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st36{stroke:#000000;stroke-width:2.52;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st37{fill:none;stroke:#A9C584;stroke-width:8.000000e-02;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st38{fill:none;stroke:#A9C584;stroke-width:1.09;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st39{fill:none;stroke:#A9C584;stroke-width:0.6;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st40{fill:none;stroke:#000000;stroke-width:1.26;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st41{fill:#A9C584;stroke:#000000;stroke-width:0.42;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg	.st42{fill:none;stroke:#000000;stroke-width:0.84;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st43{fill:none;stroke:#000000;stroke-width:0.39;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st44{fill:none;stroke:#000000;stroke-width:0.29;stroke-linecap:round;stroke-linejoin:round;}
.transition-svg .st45{enable-background:new    ;}